@font-face {
    font-family: 'mdt57';
    src: url('mdt5x7.woff2') format('woff2')
}

body {
    background: black;
    color: white;
    margin: 0;
    font-family: Arial;
}

header {
    display: flex;
    column-gap: 0.5rem;
    padding: 0.8rem 1rem;
    background-color: #103c94;
}

footer {
    position: fixed;
    bottom: 0;
}

#logo {
    background: black;
    border-radius: 50%;
    padding: 6px;
    margin-right: 1em;
    animation: popDiv 15s infinite ease-in-out alternate;
}

#logo img {
    width: 40px;
    height: 35px;
}

h2 {
    margin: 0 1rem 0 0
}

header span {
    color: red;
    font-weight: bold;
    margin-right: 1em;
}

header span.active {
    color: #23d823;
}

#buttons {
    display: flex;
    column-gap: 0.5rem;
    align-items: center;
}

#renderContainer {
    display: flex;
    margin: 0.5rem 0;
}

#renderZone canvas {
    width: 640px;
    height: 480px;
    margin: 0 0.5rem;
    border: 1px solid #333;
}

.analyser {
    border: 1px solid #ddd;
    margin-bottom: 0.5rem;
}

#analysers {
    margin-left: 0.5rem;
    background-color: #222;
    padding: 1rem;
    /*display: flex; flex-direction: column; */
}

#analysers span {
    position: absolute;
    padding: 4px 0px 0 4px;
    font-size: 0.8rem;
}

.hidden {
    visibility: hidden
}

header button {
    border: 2px solid white;
    background: none;
    color: white;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 0;
    height: 40px;
}


button:focus-visible,
button:hover {
    outline: none;
    border-radius: 0;
    color: black;
    background: white;
    cursor: pointer;
}

header button.picture {
    border-color: rgb(133, 220, 133);
    color: rgb(133, 220, 133);
    background-color: rgba(133, 220, 133, 0.15);
}

header button.audio {
    border-color: rgb(255, 165, 0);
    color: rgb(255, 165, 0);
    background-color: rgba(255, 165, 0, 0.15);
}

header button.audio.active {
    background-color: rgb(255, 165, 0);
    border-color: rgb(255, 165, 0);
    color: black;
    font-weight: bold;
}

header button.video {
    border-color: rgb(255, 101, 101);
    color: rgb(255, 101, 101);
    background-color: rgba(255, 101, 101, 0.15);
}

header button.video.active {
    background-color: rgb(255, 101, 101);
    border-color: rgb(255, 101, 101);
    color: black;
    font-weight: bold;
}

button.mappings {
    border: none;
    background: transparent;
    /* color: black; */
    align-self: flex-start;
    position: absolute;
    padding: 0;
    left: 5px;
    top: 5px;
}

button.mappings:hover {
    background-color: white;
}

button.mappings svg {
    transform: scale(0.6);
}

/* KEYBOARD */
#controls {
    margin-top: 1rem;
    margin-left: 0.5rem;
    display: flex;
    column-gap: 2rem;
}

#keyboard {
    display: flex;
    row-gap: 0.5rem;
    padding: 1.3rem 1rem 1rem;
    background-color: #a9a8a8;
    width: 38rem;
    flex-direction: column;
    /* border: 1em solid #e2dedb; */
    border-radius: 0.3rem;
    align-items: center;
    position: relative;
}

.row {
    display: flex;
    flex-direction: row;
    column-gap: 0.5rem;
}

.empty {
    width: 80px;
    height: 80px;
}

button.key {
    position: relative;
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    border-radius: 6px;
    border: 0px;
    font-size: 1rem;
    font-weight: bold;
    color: #333;
    /* background: conic-gradient(white 0%, white 5%, silver 16%, white 23%, white 24%, silver 28%, gray 34%, #666 50%, gray 65%, white 75%) transparent; */
    background-color: #ddd;
    border: 1px solid #707070;
    box-shadow: 2px 2px 3px #333;
}

button.key.arrow:before {
    content: "";
    display: inline-block;
    position: relative;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 15px solid #282828;
}

button.key.arrow.down:before {
    rotate: 180deg;
}

button.key.arrow.left:before {
    rotate: -90deg;
}

button.key.arrow.right:before {
    rotate: 90deg;
}

button.key:after {
    content: attr(data-after);
    display: block;
    color: #bc831b;
    margin-top: 0.5rem;
}

button.key:hover {
    background-color: #9c9c9c;
    box-shadow: none;
    /* cursor: pointer;
    border-radius: 6px; */
}

#keyboard.autolearn button.key {
    background-color: #fed6d6;
    border: 2px solid red;
}

#keyboard.autolearn button.key.edit {
    background-color: rgb(207, 81, 81);
    animation: keyedit 1s infinite alternate;
}

#keymappings h4 {
    margin: 0
}

#keymappings td:first-child {
    padding-right: 1em
}

#keymappings .map {
    color: grey;
}

@keyframes keyedit {
    from {
        background-color: red;
    }

    to {
        background-color: white;
    }
}


#dxGenerator {
    display: flex;
    column-gap: 1rem;
    margin: 1rem 0;
    padding: 2rem;
    background: url(../images/80sbackground.jpg) 0 16%;
    color: #eee;
    background-size: 100% 210%;
    border-radius: 0.5rem;
    color: #eee;
}

#dxGenerator h4 {
    margin: 0 0 5px;
}

#dxGenerator p {
    margin: 0;
    line-height: 1.2rem;
}

#dxGenerator a {
    color: #97baff;
    text-shadow: 0 0 black;
    font-weight: bold;
}

#dxGenerator button {
    padding: 0px 1rem;
    background-color: white;
    color: white;
    border-radius: 5px;
    font-size: 1rem;
    border: 1px solid #ccc;
    margin-left: auto;
    color: #555;
    min-width: 8rem;
}

#dxGenerator button:hover {
    background-color: #ddd;
    color: #f52222;
}


/* Modal */
.modal-window {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.25);
    color: #333;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
}

.modal-window.show {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}

.modal-window>div {
    width: 80%;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1em;
    background: white;
    border-radius: 0.5rem;
    color: black;
}

.modal-window header {
    font-weight: bold;
}

.modal-window h1 {
    font-size: 150%;
    margin: 0 0;
}

.modal-window .modal-sd-content {
    overflow: auto;
    height: 95%;
    padding: 0 1rem;
    font-size: 14px;
}

.modal-close {
    color: black;
    line-height: 35px;
    font-size: 150%;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 50px;
    text-decoration: none;
    background-color: lightgrey;
    border-top-right-radius: 0.5rem;
}

.modal-close:hover {
    background-color: darkgray;
}

/* .modal-columns {
    display: flex;
    column-gap: 3rem;
}
.modal-column {
    width: 50%;
} */

.modal-window .modal-sd-content>p {
    padding: 0 0 0.5rem;
}

#filelist {
    list-style: none;
    /* background-color: #eee; */
    margin: 0;
    padding: 0.5rem 0;
}

#filelist li {
    display: flex;
    text-decoration: none;
    line-height: 1.4rem;
    padding: 2px 5px;
}

#filelist li.dir:before {
    content: '\1F4C1';
    /* vertical-align: text-bottom; */
}

#filelist li.dir:hover {
    cursor: pointer;
    background: #f1f1f1;
    color: #f52222;
}

#filelist li.dir span {
    margin-top: 1px;
    /* color: rgb(0, 85, 255); */
    display: flex;
}

#filelist li:not(.dir):not(.wave) {
    padding-left: 25px;
}

/* #filelist li:not(.dir):nth-child(even) {
    background-color: #f5f5f5;
} */

#filelist li span {
    padding-left: 5px;
}

#filelist li.back span {
    padding-left: 2px;
    align-self: center;
}

#filelist li .buttons {
    margin-left: auto;
    display: flex;
}

a.btn {
    text-decoration: none;
    border-radius: 50%;
}

div.buttons a.btn {
    /* height: 20px;
    width: 20px; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 8px;
}

a.btn:visited {
    color: black
}

a.btn:hover {
    background: #f1f1f1;
    color: #f52222;
    box-shadow: 0 0 0 5px #f1f1f1;
}

a.btn.play {
    display: flex;
    align-self: center;
}

.hidden {
    display: none !important;
}

/* #back span:before {
    content: '\21B5';
    display: inline-block;
    rotate: 90deg;
    font-weight: bold;
} */

#drop-area {
    border: 2px dashed #ccc;
    border-radius: 10px;
    /* width: 50%; */
    /* font-family: sans-serif; */
    /* margin: 100px auto; */
    padding: 20px;
    margin-bottom: 0.5rem;
    background-color: #f5f5f5;
}

#drop-area.highlight {
    border-color: purple;
    background-color: #ddd;
}

#drop-area>p {
    margin: 0.5rem 0;
}

.my-form {
    display: flex;
}

.my-form p {
    margin: 0;
    width: 70%
}

.my-form div {
    margin-left: auto;
}

.my-form .button {
    display: inline-block;
    padding: 10px;
    background-color: white;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.my-form .button:hover {
    background: #ddd;
    color: #f52222;
}

#fileElem {
    display: none;
}

#fileError {
    color: red;
}

#progressBar {
    border: 1px solid grey;
    height: 7px;
    /* border-radius: 3px; */
    padding: 2px;
    margin-top: 0.5rem;
    background-color: white;
}

#progressBar div {
    background-color: rgb(23, 88, 229);
    width: 0;
    height: 7px;
    transition: width 0.2s;
}

#symbols {
    display: none
}

/* loader */
.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 20px;
}

.lds-ellipsis div {
    position: absolute;
    top: 7px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #333;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(24px, 0);
    }
}

@keyframes popDiv {
    0% {}

    20% {
        transform: scaleX(1);
    }

    30% {
        transform: scaleX(-1);
    }

    40% {
        transform: scaleX(1);
    }

    50% {
        transform: none
    }
}


/* 
@media screen and (max-width: 1280px) {
    body {background: darkblue;}
    #renderZone, #analysers {display:block}
    #display {width: 100%; aspect-ratio: 4 / 3;}
    #analysers {margin: 0}
} */